@page "{id:int}"
@model EditModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}
<form method="post">
       <div class="form-group">
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center">
                <label><h2>Tạo khu vực mới</h2></label>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="text" disabled class="form-control" asp-for="KhuVuc.KhuVucID">
                <span asp-validation-for="KhuVuc.KhuVucID"></span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Mã khu vực :</label>
                <input type="text" class="form-control" asp-for="KhuVuc.MaKhuVuc">
                <span asp-validation-for="KhuVuc.MaKhuVuc"></span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Tên khu vực :</label>
                <input type="text" class="form-control" asp-for="KhuVuc.TenKhuVuc">
                <span asp-validation-for="KhuVuc.TenKhuVuc"></span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row" style="margin-top:10px">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center">
                <input type="submit" class="btn btn-info" asp-route-id="KhuVuc.KhuVucID" value="Sửa"/>
            </div>
            <div class="col-md-3"></div>
        </div>
</div>
</form>