@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="~/Assets/Admin/admin.css"/>
	<link rel="stylesheet" type="text/css" href="~/Assets/User/assets/css/bootstrap.min.css">
</head>
    <header>
        <h2>Login - Hệ Thống Quản Lý Vi Phạm Giao Thông</h2>
    </header>
<body>
    
    @RenderBody()
</body>
