<!DOCTYPE HTML>
<html>
	<head>
		<title>Hệ thống quản lý VPGT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/Assets/User/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="~/Assets/User/assets/css/noscript.css" /></noscript>
		<script type="text/javascript" src="~/Assets/User/assets/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="~/Assets/User/assets/css/bootstrap.min.css">
	</head>
	<body class="index is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<nav id="nav" style="te">
						<ul>
							<li class="current"><a href="/FrontPage/HomePage">Trang chủ</a></li>
							<li class="current"><a href="/FrontPage/HienThiDieuLuat">Các điều luật</a></li>
						</ul>
					</nav>
				</header>
			<!-- Banner -->
						@RenderBody()


		</div>

		<!-- Scripts -->
			<script src="~/Assets/User/assets/js/jquery.min.js"></script>
			<script src="~/Assets/User/assets/js/jquery.dropotron.min.js"></script>
			<script src="~/Assets/User/assets/js/jquery.scrolly.min.js"></script>
			<script src="~/Assets/User/assets/js/jquery.scrollex.min.js"></script>
			<script src="~/Assets/User/assets/js/browser.min.js"></script>
			<script src="~/Assets/User/assets/js/breakpoints.min.js"></script>
			<script src="~/Assets/User/assets/js/util.js"></script>
			<script src="~/Assets/User/assets/js/main.js"></script>

	</body>
</html>