@page "{id:int}"
@model DeleteModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "Edit Movie";
}

<h2>Delete Movie</h2>

<form method="post">
<div class="form-group">
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center">
                <label><h2>Xóa cấp bậc (ID :@Model.Quyen.QuyenID)</h2></label>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="hidden" asp-for="Quyen.QuyenID">
                <label>Mã quyền:</label>
                <input type="text" class="form-control" asp-for="Quyen.MaQuyen">
                <span asp-validation-for="Quyen.MaQuyen"></span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Tên quyền:</label>
                <input type="text" class="form-control" asp-for="Quyen.TenQuyen">
                <span asp-validation-for="Quyen.TenQuyen"></span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Mô tả quyền:</label>
                <input type="text" class="form-control" asp-for="Quyen.MoTaQuyen" placeholder="" required name="">
                <span asp-validation-for="Quyen.TenQuyen"></span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row" style="margin-top:10px">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center">
                <input type="submit" class="btn btn-info" asp-route-id="Quyen.QuyenID" value="Xóa"/>
            </div>
            <div class="col-md-3"></div>
        </div>
</div>
</form>