@page "{id:int}"
@model EditModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "Edit cấp cậc";
}

<h2>Edit cấp bậc</h2>

<form method="post">
       <div class="form-group">
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center">
                <label><h2>Sửa cấp bậc</h2></label>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>ID cấp bậc:</label>
                <input type="text" disabled class="form-control" asp-for="CapBac.CapBacID">
                <span asp-validation-for="CapBac.CapBacID"></span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Mã cấp bậc:</label>
                <input type="text" class="form-control" asp-for="CapBac.MaCapBac">
                <span asp-validation-for="CapBac.MaCapBac"></span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label>Tên cấp bậc:</label>
                <input type="text" class="form-control" asp-for="CapBac.TenCapBac">
                <span asp-validation-for="CapBac.TenCapBac"></span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-row" style="margin-top:10px">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center">
                <input type="submit" class="btn btn-info" asp-route-id="CapBac.CapBacID" value="Sửa"/>
            </div>
            <div class="col-md-3"></div>
        </div>
</div>
</form>